<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>@ViewData["Title"] - ColegioPrivado</title>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ColegioPrivado.styles.css" asp-append-version="true" />

<!-- ICONOS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<!-- ICONOS BOOTSTRAP (para mejoras visuales) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>

<header>

<nav class="navbar navbar-expand-sm navbar-dark mb-3">

<div class="container-fluid">

<a class="navbar-brand" asp-controller="Home" asp-action="Index">
<i class="fa fa-school"></i> ColegioPrivado
</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
<span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

<ul class="navbar-nav flex-grow-1">

<li class="nav-item">
<a class="nav-link" asp-controller="Home" asp-action="Index">
<i class="fa fa-home"></i> Inicio
</a>
</li>

<li class="nav-item">
<a class="nav-link text-danger" asp-controller="Login" asp-action="Logout">
<i class="fa fa-sign-out-alt"></i> Cerrar sesión
</a>
</li>

</ul>

<!-- 👇 USUARIO Y ROL -->
<div style="color:white; font-weight:bold; margin-right:20px;">

<i class="fa fa-user"></i>  
@Context.Session.GetString("Usuario")

&nbsp; | &nbsp;

<i class="fa fa-shield-alt"></i>  
@Context.Session.GetString("Rol")

</div>

</div>

</div>

</nav>

</header>


<div class="container">

<main role="main" class="pb-3">

@RenderBody()

</main>

</div>


<footer class="border-top footer text-muted">

<div class="container">

&copy; 2026 - ColegioPrivado

</div>

</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>

</html>
