<h2>Nueva Empresa</h2>

<form method="post">
    <label>Nombre:</label>
    <input name="Nombre" required />

    <label>Ubicación:</label>
    <input name="Ubicacion" />

    <button type="submit">Guardar</button>
</form>