@model ColegioPrivado.Models.CambiarPasswordViewModel

<h2>Cambiar contraseña</h2>

<form method="post">

<div>
<label>Nueva contraseña</label>
<input type="password" asp-for="NuevaPassword" />
</div>

<div>
<label>Confirmar contraseña</label>
<input type="password" asp-for="ConfirmarPassword" />
</div>

<button type="submit">Guardar</button>

@if (Model?.Mensaje != null)
{
    <p style="color:red">@Model.Mensaje</p>
}

</form>