@model IEnumerable<Producto>

<div class="container text-white">
    <h2>Productos</h2>

    <p>
        <a href="/Producto/Create" class="btn btn-primary">Nuevo Producto</a>
    </p>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Código de Lote</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>Q @producto.PrecioVenta.ToString("N2")</td>
                <td>@producto.Stock</td>
                <td>@(string.IsNullOrEmpty(producto.CodigoLote) ? "-" : producto.CodigoLote)</td>
                <td>
                    <a href="/Producto/Lotes/@producto.ProductoId" class="btn btn-sm btn-info">Ver Lotes</a>
                    <a href="/Producto/Edit/@producto.ProductoId" class="btn btn-sm btn-warning">Editar</a>
                </td>
            </tr>
        }
        </tbody>

    </table>
</div>