<div class="dashboard">

<div class="sidebar">

<h4>Colegio</h4>

<a href="#">Inicio</a>
<a href="#">Usuarios</a>
<a href="#">Solicitudes</a>
<a href="#">Reportes</a>

</div>

<div class="content">

<h2>Panel Administrativo</h2>

<p>Bienvenido @Context.Session.GetString("Usuario")</p>

<div class="cards">

<div class="card-dashboard">
Usuarios registrados
</div>

<div class="card-dashboard">
Solicitudes pendientes
</div>

<div class="card-dashboard">
Reportes
</div>

</div>

</div>

</div>