<div class="container text-center mt-5">

<div class="card-modern">

<h1>Sistema de Gestión Escolar</h1>

<p class="mt-3">
Bienvenido al sistema administrativo del colegio.
Aquí podrá gestionar alumnos, usuarios, cursos y reportes
de manera segura y eficiente.
</p>

<hr>

<h4>Funciones del sistema</h4>

<div class="row mt-4">

<div class="col-md-4">
<i class="fa fa-user-graduate fa-3x"></i>
<h5 class="mt-2">Alumnos</h5>
<p>Administración de estudiantes.</p>
</div>

<div class="col-md-4">
<i class="fa fa-chalkboard-teacher fa-3x"></i>
<h5 class="mt-2">Maestros</h5>
<p>Gestión académica.</p>
</div>

<div class="col-md-4">
<i class="fa fa-chart-line fa-3x"></i>
<h5 class="mt-2">Reportes</h5>
<p>Información del sistema.</p>
</div>

</div>

</div>

</div>